name: tag-and-release
on:
  push:
    tags:
      - 'v*'

jobs:
  build:
    runs-on: ubuntu-latest
    name: build-and-testing
    steps:
      - uses: actions/checkout@v1
      - name: Set up JDK 1.8
        uses: actions/setup-java@v2
        with:
          java-version: 8
          distribution: 'adopt'
          check-latest: true
      - uses: actions/cache@v2.1.6
        with:
          path: ~/.gradle/caches
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle') }}
          restore-keys: |
            ${{ runner.os }}-gradle
      - name: build-gradle
        run: ./gradlew clean build install --build-cache --scan -s
      - name: integration-test
        run: |
          export PATH=`pwd`/build/install/mulefd/bin:$PATH
          pastdir=`pwd`
          cd itests
          ./tests.sh
          cd $pastdir
      - name: tag-and-release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: ./gradlew githubRelease
